@keyframes alternate-colors {
        0% {
          background-color: #0060b5; /* Blue background */
          color: white;
          /* transform: rotate(180deg); */
        }
        50% {
          background-color: white;  /* White background */
          color: #0060b5;           /* Blue text */
          transform: rotate(360deg);
        }
        100% {
          background-color: #0060b5; /* Blue background */
          color: white;
          /* transform: rotate(180deg); */
        }
      }
      
     

      /* Slow spinning animation */
      .animate-spin-slow {
        animation: spin 5s linear infinite;
      }
      
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      
      /* Apply the alternate colors to both text and background */
      .animate-alternate-colors {
        animation: alternate-colors 5s ease-in-out infinite;
      }
      
      .text-alternate-colors {
        animation: alternate-colors 5s ease-in-out infinite;
      }
      