/* Main service div */
.service-div-main {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
      }
      
      /* Hero title section */
      .service-hero-title {
        height: 100%;
        width: 100%;
        display: flex;
      }
      
      /* Tech service title styling */
      .tech_service_title {
        height: 100%;
        width: 100%;
        display: flex;
        background: #0060B5;
        flex-wrap: wrap;
      }
      
      /* Main service section */
      .service-main {
        width: 100%;
        background-repeat: no-repeat;
        height: 100vh;
        background-size: cover;
        position: inherit;
        float: inherit;
        overflow: hidden;
        opacity: 20px;
      }
      
      /* Image styling */
      .img {
        max-width: 100%;
        height: auto;
      }
      
      /* Container styling */
      .techservicecontainer {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        display: flex;
      }
      
      .tech-service-container {
        margin: 0 auto;
        align-items: center;
        display: block;
      }
      
      .tech-service-container.service-card {
        align-items: center;
        position: relative;
        display: flex;
        stroke-width: 50px;
        box-shadow: 8px 10px #888888;
      }
      
      /* Service content styling */
      .service-content {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        height: 100%;
      }
      
      /* Service title styling */
      .service-title h1 {
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-transform: uppercase;
        margin: 0 auto 80px;
        padding-top: 250px;
        color: black;
        font-weight: bold;
        letter-spacing: 4px;
        position: absolute;
        font-family: Druk-Heavy;
        font-size: 4rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: center;
      }
      
      /* Service div styling */
      .service-divi {
        width: 100%;
        height: 550px;
        border-radius: 5px;
        backdrop-filter: blur(5px);
      }
      
      .service-div {
        width: 100%;
        height: 100%;
        background-color: #E8E9EB;
      }
      
      .service-section {
        width: 100%;
        height: 100%;
        align-items: center;
        margin-bottom: 10px;
      }
      
      /* Tech service hero title styling */
      .tech_service-hero-title {
        height: fit-content;
        width: fit-content;
        margin-top: 10px;
        padding-left: 50px;
        padding-bottom: 50px;
        flex: 1;
      }
      
      .tech_service-hero-title h1 {
        margin-top: 160px;
        font-family: Druk-Heavy;
        color: white;
        text-transform: uppercase;
        font-size: 4.5rem;
        letter-spacing: 1px;
        display: block;
        color: whitesmoke;
        direction: column;
        height: fit-content;
        width: fit-content;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
      .tech_service-hero-title p {
        letter-spacing: 0px;
        font-family: Montserrat;
        color: white;
        font-size: 1rem;
        direction: column;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
      /* Tech service paragraph styling */
      .tech-service-p {
        padding: 20px;
        color: #63615e;
        width: 100%;
        height: 400px;
        font-size: 1.5vw;
        align-items: center;
      }
      
      /* Service brand and team styling */
      .service-brands,
      .service-team {
        width: 100%;
        height: 100%;
        padding: 10px;
        margin-bottom: 20px;
      }
      
      .techservicecontainer.service-card {
        align-items: center;
        position: relative;
        display: inline-flex;
        stroke-width: 50px;
      }
      
      /* Heading styling */
      .style_h1 {
        font-weight: bolder;
        margin-top: 6px;
        text-transform: uppercase;
      }
      
      .techservice_heading {
        font-size: 40px !important;
        font-weight: 700 !important;
        font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
        color: #0c0042;
        padding-top: 25px;
      }
      
      /* Tech service paragraph styling */
      .techservice_p {
        font-size: 24px !important;
        font-weight: 700px !important;
        font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
      }
      
      /* Wrapper styling */
      .wrapper {
        display: flex;
        width: 100%;
        justify-content: space-around;
      }
      
      /* Card styling */
      .card {
        width: 280px;
        height: 360px;
        border-radius: 15px;
        padding: 1.5rem;
        background: white;
        position: relative;
        display: flex;
        align-items: flex-end;
        transition: 0.4s ease-out;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
      }
      
      .card:hover::before {
        opacity: 1;
      }
      
      .card:hover .info {
        opacity: 1;
        transform: translateY(0px);
      }
      
      .card::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        background: rgba(0, 0, 0, 0.6);
        z-index: 2;
        transition: 0.5s;
        opacity: 0;
      }
      
      /* Image within the card */
      .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 15px;
        transition: 0.4s ease-out;
      }
      
      /* Information section within the card */
      .card .info {
        position: relative;
        z-index: 3;
        color: white;
        opacity: 0;
        transform: translateY(30px);
        transition: 0.5s;
      }
      
      .card .info h1 {
        margin: 0px;
      }
      
      .card .info p {
        letter-spacing: 1px;
        font-size: 15px;
        margin-top: 8px;
      }
      
      .card .info:hover {
        color: white;
      }
      
      /* Responsive design for screens less than or equal to 768px */
      @media (max-width: 768px) {
        .card {
          background: rgba(0, 0, 0, 0.6);
        }
      
        .card img {
          filter: grayscale(0.5) brightness(0.5);
        }
      
        .card .info {
          opacity: 1;
          transform: none;
          color: white;
        }
      
        .card::before {
          opacity: 0;
        }
      }
      
      /* Section 2 styling */
      .techservice_sec2box {
        border-top: 0.55px solid blue;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      }
      
      @media (max-width: 768px) {
        .techservice_sec2box {
          margin: 12px;
          padding: 4px 12px 4px 12px;
        }
      }
      
      .techservice_heading2 {
        font-size: 24px !important;
        font-weight: 700 !important;
        font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
        color: var(--primary-color);
      }
      
      .techservice_paraghap {
        font-size: 18px !important;
        line-height: 30px;
      }
      
      .techservice_heading3 {
        font-size: 24px !important;
        font-weight: 70 !important;
        font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
        width: 90%;
      }
      
      @media (max-width: 768px) {
        .techservice_heading3 {
          font-size: 22px !important;
          font-weight: 70 !important;
          text-align: center;
          width: 100%;
        }
      }
      
      .heading2 {
        font-size: 40px !important;
        font-weight: 700 !important;
      }
      
      .p {
        font-size: 16px !important;
      }
      
      /* Underline styling */
      .under {
        display: inline-block;
        position: relative;
      }
      
      .under::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #0c0042;
        position: absolute;
        bottom: -5px;
        left: 0;
      }

      @keyframes slideIn {
        from {
          transform: translateX(100%);
          opacity: 0;
        }
        to {
          transform: translateX(0);
          opacity: 1;
        }
      }
      
      .animate-slide-in {
        animation: slideIn 1s ease-out;
      }
      
      